<!DOCTYPE html>
<html>

<head>
  <title>GPS Map</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places" %>
  <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>
</head>

<body>
  <h1>Google Map</h1>

  <form id="route-form">
    <label for="from-place">From:</label>
    <select id="from-place" onchange="updateMapWithRoute()">
      <option value="">Select a Place</option>
      <% @places.each do |place| %>
      <option value="<%= place.id %>"><%= place.name %></option>
      <% end %>
    </select>

    <label for="to-place">To:</label>
    <select id="to-place" onchange="updateMapWithRoute()">
      <option value="">Select a Place</option>
      <% @places.each do |place| %>
      <option value="<%= place.id %>"><%= place.name %></option>
      <% end %>
    </select>
  </form>

  <div id="map"></div>

  <script>
    let map;
    let directionsService;
    let directionsRenderer;

    function initMap() {
      var mapOptions = {
        center: {
          lat: 37.7749,
          lng: -122.4194
        },
        zoom: 12
      };

      map = new google.maps.Map(document.getElementById('map'), mapOptions);
      directionsService = new google.maps.DirectionsService();
      directionsRenderer = new google.maps.DirectionsRenderer();
      directionsRenderer.setMap(map);
    }

    function updateMapWithRoute() {
      var fromPlaceId = document.getElementById('from-place').value;
      var toPlaceId = document.getElementById('to-place').value;

      if (fromPlaceId && toPlaceId) {
        fetch(`/places/${fromPlaceId}`)
          .then(response => response.json())
          .then(fromData => {
            const fromPosition = {
              lat: fromData.latitude,
              lng: fromData.longitude
            };

            fetch(`/places/${toPlaceId}`)
              .then(response => response.json())
              .then(toData => {
                const toPosition = {
                  lat: toData.latitude,
                  lng: toData.longitude
                };

                const request = {
                  origin: fromPosition,
                  destination: toPosition,
                  travelMode: google.maps.TravelMode.DRIVING
                };

                directionsService.route(request, function(result, status) {
                  if (status == google.maps.DirectionsStatus.OK) {
                    directionsRenderer.setDirections(result);
                  }
                });
              });
          });
      }
    }

    google.maps.event.addDomListener(window, 'load', initMap);
  </script>
</body>

</html>