<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WebAssignment - GPS</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <script>
    const googleApiKey = "<%= ENV['GOOGLE_API_KEY'] %>";
    const script = document.createElement('script');
    script.src = `https://maps.googleapis.com/maps/api/js?key=${googleApiKey}&callback=initMap`;
    script.async = true;
    script.defer = true;
    document.head.appendChild(script);
  </script>
</head>

<body>
  <div class="flash-messages">
    <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
    <% end %>
  </div>

  <%= render 'layouts/sidebar' %>

  <main class="container mx-auto mt-28 px-5 flex">
    <%= yield %>
  </main>

  <h1>GPS Map</h1>

  <div id="map" style="height: 500px; width: 100%;"></div>

  <script>
    window.initMap = function() {
      const map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: 37.7749,
          lng: -122.4194
        },
        zoom: 12,
      });

      const issues = < %= raw @issues.to_json % > ;

      if (issues && issues.length > 0) {
        issues.forEach(issue => {
          const marker = new google.maps.Marker({
            position: {
              lat: issue.latitude,
              lng: issue.longitude
            },
            map: map,
            title: issue.description,
          });

          const infoWindow = new google.maps.InfoWindow({
            content: `<h3>${issue.category}</h3><p>${issue.description}</p>`,
          });

          marker.addListener('click', function() {
            infoWindow.open(map, marker);
          });
        });
      }
    };
  </script>
</body>

</html>