<h2>Messages</h2>

<% if @sent_messages.any? %>
<h3>Sent Messages</h3>
<ul>
  <% @sent_messages.each do |message| %>
  <li><%= message.message_content %> - Sent to: <%= message.recipient&.full_name || 'N/A' %></li>
  <% end %>
</ul>
<% else %>
<p>No sent messages available.</p>
<% end %>

<% if @received_messages.any? %>
<h3>Received Messages</h3>
<ul>
  <% @received_messages.each do |message| %>
  <li><%= message.message_content %> - From: <%= message.user.full_name %></li>
  <% end %>
</ul>
<% else %>
<p>No received messages available.</p>
<% end %>

<%= link_to 'Send New Message', new_group_message_path(@group), class: 'btn btn-primary' if @group %>