<h1>Profile of <%= @user.full_name %></h1>
<p>Email: <%= @user.email %></p>
<p>Joined on: <%= @user.created_at.to_date %></p>

<%= link_to 'Edit Profile', edit_profile_path, class: 'btn btn-secondary' %>
<%= link_to 'Search Profiles', search_path, class: 'btn btn-primary' %>