<h1>Create Assignment for <%= @group.name %></h1>

<%= form_with(model: [@group, @assignment], local: true, multipart: true) do |form| %>
<div>
  <%= form.label :title %>
  <%= form.text_field :title, class: "form-control" %>
</div>

<div>
  <%= form.label :description %>
  <%= form.text_area :description, class: "form-control" %>
</div>

<div>
  <%= form.label :due_date %>
  <%= form.datetime_local_field :due_date, class: "form-control" %>
</div>

<div>
  <%= form.label :file %>
  <%= form.file_field :file, class: "form-control" %>
  <!-- Single file upload field -->
</div>

<%= form.submit 'Create Assignment', class: 'btn btn-primary mt-3' %>
<% end %>