<h1>Resolve Issues</h1>

<div class="notification-container" style="position: fixed; top: 10px; right: 10px; z-index: 1000;">
  <% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
  <% end %>

  <% if alert %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
  <% end %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="font-size: 1.2em;">Category</th>
      <th style="font-size: 1.2em;">Description</th>
      <th style="font-size: 1.2em;">Location</th>
      <th style="font-size: 1.2em;">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
    <% unless issue.active == false %>
    <tr>
      <td style="font-size: 1.1em;"><%= issue.category %></td>
      <td style="font-size: 1.1em;"><%= issue.description %></td>
      <td style="font-size: 1.1em;"><%= "#{issue.latitude}, #{issue.longitude}" %></td>
      <td>
        <div class="issue-map-container">
          <div style="text-align: center;">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= issue.latitude %>,<%= issue.longitude %>&zoom=14&size=300x200&markers=color:red|label:•|<%= issue.latitude %>,<%= issue.longitude %>&key=AIzaSyCmHtKK6Khdr2koqAakd0JrpNcYQJCJBpA" alt="Issue Location Map" class="map-img">
          </div>

          <div style="margin-top: 10px; text-align: center;">
            <% if issue.active %>
            <%= form_for issue, url: resolve_issue_path(issue), method: :patch do |f| %>
            <%= f.hidden_field :active, value: false %>
            <%= f.submit "Mark as Resolved", class: "btn btn-primary" %>
            <% end %>
            <% else %>
            <span class="text-success">Resolved</span>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Issues List', issues_path, class: 'btn btn-secondary' %>