<h1>Edit User</h1>

<%= form_with model: @user, url: update_admin_user_path(@user), method: :patch, local: true do |form| %>
<div class="form-group">
  <%= form.label :full_name %>
  <%= form.text_field :full_name, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :email %>
  <%= form.email_field :email, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :password, "Change Password (Leave blank to keep the same)" %>
  <%= form.password_field :password, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :password_confirmation, "Confirm New Password (Leave blank to keep the same)" %>
  <%= form.password_field :password_confirmation, class: "form-control" %>
</div>

<%= form.submit "Update User", class: "btn btn-success" %>
<% end %>