<h1><%= @group.name %></h1>
<p><%= @group.description %></p>

<h2>Group Members</h2>
<ul>
  <% @group.users.each do |user| %>
  <li>
    <%= user.full_name %>

    <% if current_user.role.role_name == "teacher" %>
    <%= form_with url: assign_marks_group_assignment_path(@group, user), method: :post, local: true do |form| %>
    <%= form.hidden_field :student_id, value: user.id %>

    <% @group.assignments.each do |assignment| %>
    <div>
      <%= form.label :marks, "Assign Marks to #{user.full_name} for #{assignment.title}" %>
      <%= form.text_field :marks, value: assignment.marks_for_user(user.id) %>
      <%= form.hidden_field :assignment_id, value: assignment.id %>
    </div>
    <% end %>

    <%= form.submit 'Assign Marks', class: 'btn btn-success' %>
    <% end %>
    <% end %>

    <ul>
      <% @group.assignments.each do |assignment| %>
      <li>
        <%= assignment.title %>:
        <%= assignment.marks_for_user(user.id) || "No marks assigned" %>
      </li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>

<% if current_user.role.role_name == "teacher" %>
<h3>Add Student to Group</h3>
<%= form_with url: add_student_group_path(@group), method: :post, local: true do |form| %>
<%= form.select :student_id, @students.map { |s| [s.full_name, s.id] }, prompt: "Select a student" %>
<%= form.submit "Add Student", class: "btn btn-primary" %>
<% end %>

<h3>Upload a File</h3>
<%= form_with url: upload_file_group_path(@group), method: :post, multipart: true do |form| %>
<%= form.file_field :file %>
<%= form.submit "Upload File", class: "btn btn-success" %>
<% end %>
<% end %>

<h2>Uploaded Files:</h2>
<ul>
  <% @group.files.each do |file| %>
  <li>
    <%= link_to file.filename.to_s, url_for(file), target: "_blank" %>
  </li>
  <% end %>
</ul>

<h2>Messages:</h2>
<% @messages.each do |message| %>
<div>
  <p><%= message.message_content %></p>
  <small>Posted by: <%= message.posted_by %> at <%= message.created_at %></small>
</div>
<% end %>