<h1><%= @group.name %></h1>
<p><%= @group.description %></p>

<h2>Group Members</h2>
<ul>
  <% @group.users.each do |user| %>
  <li>
    <%= user.full_name %>

    <% if current_user.role.role_name == "teacher" %>
    <h3>Assign Marks for Submissions</h3>
    <% @group.assignments.each do |assignment| %>
    <div>
      <%= form_with url: assign_marks_group_assignment_path(@group, assignment, assignment_id: assignment.id), method: :post, local: true do |form| %>
      <%= form.hidden_field :student_id, value: user.id %>
      <div>
        <%= form.label :marks, "Assign Marks to #{user.full_name} for #{assignment.title}" %>
        <%= form.number_field :marks, value: assignment.marks_for_user(user.id) || 80, class: "form-control", id: "marks_field_#{assignment.id}_#{user.id}" %>
      </div>
      <%= form.submit 'Assign Marks', class: 'btn btn-success mt-2' %>
      <% end %>
    </div>

    <% if assignment.marks_for_user(user.id).present? %>
    <p>Assigned Marks: <span id="marks_display_<%= assignment.id %>_<%= user.id %>"><%= assignment.marks_for_user(user.id) || 80 %></span></p>
    <%= link_to 'Edit Marks', edit_assignment_marks_group_assignment_path(@group, assignment.id, student_id: user.id), class: 'btn btn-warning' %>
    <% else %>
    <p>No marks assigned yet.</p>
    <% end %>
    <% end %>
    <% end %>

    <ul>
      <% @group.assignments.each do |assignment| %>
      <li>
        <%= assignment.title %>:
        <%= assignment.marks_for_user(user.id) || 80 %>
      </li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>

<% if current_user.role.role_name == "teacher" %>
<h3>Create New Assignment</h3>
<%= link_to 'Create Assignment', new_group_assignment_path(@group), class: 'btn btn-primary' %>
<% end %>

<h2>Assignments</h2>
<ul>
  <% @group.assignments.each do |assignment| %>
  <li>
    <%= assignment.title %> - <%= assignment.description %>
    <br>
    Due: <%= assignment.due_date.strftime("%B %d, %Y %I:%M %p") %>
    <% if current_user.role.role_name == "student" %>
    <h3>Submit File for this Assignment</h3>
    <%= form_with url: submit_assignment_group_assignment_path(@group, assignment), method: :post, multipart: true, local: true do |form| %>
    <%= form.file_field :file, class: "form-control" %>
    <%= form.submit 'Submit File', class: 'btn btn-success mt-2' %>
    <% end %>
    <% end %>
  </li>
  <% end %>
</ul>