<h1><%= @group.name %></h1>
<p><%= @group.description %></p>

<h2>Group Members</h2>
<ul>
  <% @group.users.each do |user| %>
  <li>
    <%= user.full_name %>
    <% if current_user.role.role_name == "teacher" %>
    <%= link_to 'Remove', remove_student_group_path(@group, student_id: user.id), method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </li>
  <% end %>
</ul>

<% if current_user.role.role_name == "teacher" %>
<h3>Add Student to Group</h3>
<form action="<%= add_student_group_path(@group) %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <select name="student_id">
    <% @students.each do |student| %>
    <% unless @group.users.include?(student) %>
    <option value="<%= student.id %>"><%= student.full_name %></option>
    <% end %>
    <% end %>
  </select>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

<h3>Upload a File</h3>
<%= form_with url: upload_file_group_path(@group), method: :post, multipart: true do |form| %>
<%= form.file_field :file %>
<%= form.submit "Upload File" %>
<% end %>
<% end %>

<h2>Uploaded Files:</h2>
<ul>
  <% @group.files.each do |file| %>
  <li>
    <%= link_to file.filename.to_s, url_for(file), target: "_blank" %>
  </li>
  <% end %>
</ul>

<h2>Messages:</h2>
<% @messages.each do |message| %>
<div>
  <p><%= message.message_content %></p>
  <small>Posted by: <%= message.posted_by %> at <%= message.created_at %></small>
</div>
<% end %>