<ul class="sidebar">
  <li><%= link_to 'Save New Place', gps_path %></li>
  <li><%= link_to 'Issues', issues_path %></li>
  <li><%= link_to 'GPS', any_route_gps_path %></li>

  <li>
    <%= form_for(:user, url: destroy_user_session_path, method: :delete, html: { class: 'logout-form' }) do |f| %>
    <%= f.submit 'Logout', class: 'logout-btn', data: { turbo: false } %>
    <% end %>
  </li>
</ul>