<ul class="sidebar">
  <li><%= link_to 'Home', root_path %></li>

  <% if user_signed_in? %>
  <li><%= link_to 'Dashboard', dashboard_path %></li>
  <li><%= link_to 'Profile', profile_path(current_user) %></li>
  <li><%= link_to 'My Groups', groups_path %></li>

  <% if current_user.groups.any? %>
  <li><%= link_to 'Messages', group_messages_path(group_id: current_user.groups.first.id) %></li>
  <% else %>
  <li>No Groups Available</li>
  <% end %>

  <% if current_user.role.role_name == "teacher" %>
  <li><%= link_to 'Create New Group', new_group_path %></li>
  <li><%= link_to 'Admin Panel', admin_panel_path %></li>
  <% end %>

  <li><%= link_to 'Search', search_path %></li>
  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-btn' %></li>
  <% end %>
</ul>